.page{
    background-color: gray;
}

#info{
    background-color: white;
    color: black;
    margin-top: 20px;
    text-align: center;
}

.row{
    margin-bottom: 10px;
    align-items: center;
}

.float-left{
    float: left;
    margin: 10px;
}
